{% if validlink %}

<p>Пожалуйста введите свой новый пароль</p>

<form method="post">
    {% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">Новый пароль: </label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Подтвердите пароль: </label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="Ок">
</fieldset>
</form>

{% else %}

<p>Произошла ошибка. Попробуйте еще раз</p>

{% endif %}